# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [4]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [5]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [7]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [8]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [9]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [10]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [11]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [12]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [13]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [14]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [15]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [16]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [17]:
data.duplicated().sum()

54

In [18]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [19]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [20]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [21]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [22]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [23]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [24]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [25]:
# сгруппируем данные по количеству детей и сумме столбца задолженность, чтобы получить количество людей имевших задолженость 
debt_from_children = data.groupby(['children']).agg({'debt':'sum'})

# сгруппируем данные по количеству детей и задолженность, чтобы получить количество людей имеющих такое количество детей
debt_from_children['count'] = data.groupby('children')['debt'].count()

# найдем вероятность задолжености по кредиту человека с определенным количеством детей
try:
    debt_from_children['probability'] = debt_from_children.loc[:,'debt'] / debt_from_children.loc[:,'count']
except ZeroDivisionError:
    debt_from_children['probability'] = 0

# переведем вероятность в проценты для наглядности
debt_from_children['probability'] = debt_from_children['probability'].apply(lambda x: format(x, '.2%'))

# выведем получившуюся таблицу на экран
display(debt_from_children)

          debt  count probability
children
0         1063  14107       7.54%
1          444   4809       9.23%
2          194   2052       9.45%
3           27    330       8.18%
4            4     41       9.76%
5            0      9       0.00%

In [68]:
data['children_group'] = data['children'].apply(lambda x: 'Нет детей' if x == 0 else 'Дети есть')

df_example = data.groupby('children_group')['debt'].agg(['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

**Вывод:** С увеличением количества детей мы видим увеличение количества просроченых задолжностей. Но люди имеющие 3 детей, чаще платят за кредит, чем люди с одним ребенком. А люди с 5 детьми и вовсе не имеют задолностей, скорее всего из-за того, что такие люди редко встречаются.

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [90]:
# создадим сводную таблицу
debt_from_family_status = data.pivot_table(index=['family_status'], values='debt', aggfunc=['sum', 'count', 'mean'])

# Переименуем названия колонок для понимания
debt_from_family_status.columns = ['Кол-во должников', 'Кол-во пользователей', '% должников']

# Отсортируем по убыванию и переведем % должников в проценты для наглядности

debt_from_family_status = debt_from_family_status.sort_values(by='% должников', ascending=False).style.format({'% должников': '{:.2%}'})

# выведем на экран
debt_from_family_status

**Вывод:** Не женатые / не замужние и люди в гражданском браке реже выплачивают кредит в срок, чаще выплачивают кредит в срок вдовы и вдовцы и люди, которые в разводе.

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [27]:
# 0–30000 — 'E';
# 30001–50000 — 'D';
# 50001–200000 — 'C';
# 200001–1000000 — 'B';
# 1000001 и выше — 'A'.

# сгруппируем данные по категории дохода и сумме столбца задолженность, чтобы получить количество людей имевших задолженость 
debt_from_total_income = data.groupby(['total_income_category']).agg({'debt':'sum'})

# сгруппируем данные по категории дохода и задолженность, чтобы получить количество людей в данной категории дохода
debt_from_total_income['count'] = data.groupby(['total_income_category']).agg({'debt':'count'})

# найдем вероятность задолжености по кредиту человека в определенной категории дохода
try:
    debt_from_total_income['probability'] = debt_from_total_income.loc[:,'debt'] / debt_from_total_income.loc[:,'count']
except ZeroDivisionError:
    debt_from_total_income['probability'] = 0

# переведем вероятность в проценты для наглядности
debt_from_total_income['probability'] = debt_from_total_income['probability'].apply(lambda x: format(x, '.2%'))
 
# выведем получившуюся таблицу на экран
display(debt_from_total_income)

                       debt  count probability
total_income_category
A                         2     25       8.00%
B                       354   5014       7.06%
C                      1353  15938       8.49%
D                        21    349       6.02%
E                         2     22       9.09%

**Вывод:** Зависимости между уровнем дохода и возвратом кредита в срок нет.

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [28]:
# сгруппируем данные по цели кредита и сумме столбца задолженность, чтобы получить количество людей имевших задолженость 
debt_from_family_status = data.groupby(['purpose_category']).agg({'debt':'sum'})

# сгруппируем данные по цели кредита и задолженность, чтобы получить количество людей имеющих такую цель
debt_from_family_status['count'] = data.groupby(['purpose_category']).agg({'debt':'count'})

# найдем вероятность задолжености по кредиту человека с определенной целью кредита
try:
    debt_from_family_status['probability'] = debt_from_family_status.loc[:,'debt'] / debt_from_family_status.loc[:,'count']
except ZeroDivisionError:
    debt_from_family_status['probability'] = 0

# переведем вероятность в проценты для наглядности
debt_from_family_status['probability'] = debt_from_family_status['probability'].apply(lambda x: format(x, '.2%'))

# отсортируем таблицу по убыванию значения вероятности и выведем на экран
display(debt_from_family_status.sort_values(by='probability', ascending=False))

                          debt  count probability
purpose_category
операции с автомобилем     400   4281       9.34%
получение образования      369   3989       9.25%
проведение свадьбы         183   2324       7.87%
операции с недвижимостью   780  10754       7.25%

**Вывод:** Чаще всего платят в срок люди, которые занимали деньги на операции с недвижимостью, реже платят в срок люди с целью кредита операции с автомобирем.

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* 
Причинами появления пропусков в исходных данных могут быть: 
- сокрытие информации, то есть пользователь не указал о себе какие-нибудь сведения
- автоматизированная система сбора информации дала сбой
- неправильная обработка какой-то информации на итапе формирования данных
- пропуск может быть объяснен другими переменными

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Заполнить пропуски медианным значением — лучшее решение для количественных переменных так как это дает более объективную информаци. Среднее значение некорректно характеризует данные, когда некоторые значения сильно выделяются среди большинства.

## Общий вывод.

Основываясь на полученных данных можно сделать вывод: На погашение кредита влияет семейное положение, наличие детей и цель кредита, а уровень дохода ни как не влияет. Наиболее безопасными для банка заемщиками являются человек с целью кредита операции с недвижимостью, без детей, вдовец / вдова или в разводе.